body.body {
    background-image: url("../img/background2.JPG") !important;
            
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-logo {
    font-family: cursive !important;
}

@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/fontomas-webfont.woff') format('woff'),
        url('fonts/fontomas-webfont.ttf') format('truetype'),
        url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/franchise-bold-webfont.woff') format('woff'),
        url('fonts/franchise-bold-webfont.ttf') format('truetype'),
        url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.user-login {
    box-shadow: 2px 2px 10px #000;
    border-top: 10px solid #3394d5;
    border-bottom: 10px solid #3394d5;
}

.register {
    color: rgb(61, 157, 179);
    font-weight: bold;
    background-color: #fff;
}

.title {
    font-size: 50px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center !important;
    padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
.title {
    background: -webkit-repeating-linear-gradient(-45deg,
            rgb(18, 83, 93),
            rgb(18, 83, 93) 20px,
            rgb(64, 111, 118) 20px,
            rgb(64, 111, 118) 40px,
            rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.text:active,
.text:focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

.konten {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -30px !important;
    background: -moz-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(147, 184, 189, 0)), color-stop(20%, rgba(147, 184, 189, 0.8)), color-stop(53%, rgba(147, 184, 189, 1)), color-stop(79%, rgba(147, 184, 189, 0.8)), color-stop(100%, rgba(147, 184, 189, 0)));
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

.login {
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.login input:hover {
    background: rgb(74, 179, 198);
}

.login input:active,
.login input:focus {
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

.hero {
    position: relative;
    margin-top: -90px !important;
    box-shadow: 1px 1px 10px black !important;
}

.label {
    font-style: italic;
    color: rgb(40, 137, 154);
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}

/* UserAccess */
/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/background2.JPG);
    background-size: cover;
    /* height: 540px; */
    text-align: center;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron .display-4 {
    color: #fff;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info panel */
.info-panel {
    padding: 30px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;
    margin-top: -100px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    font-weight: 200;
    margin-top: -5px;
}

/* WorkingSpace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

/* Testimonial */
.testimonial {
    margin-top: 70px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    opacity: 0.6;
    width: 60px;
    margin-top: 20px;
    margin: 20px 10px 5px;
}

.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.testimonial figure p {
    font-size: 12px;
    color: #acacac;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;

}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: #acacac;
    font-size: 18px;
}


/* Untuk Dekstop Version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .navbar-brand,
    .nav-link {
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -7px;
    }

	.nav-link.active::after{
		content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
		margin: auto;
		color: #0b63dc !important;
        padding-bottom: 5px;
        margin-bottom: -7px;
	}

    .tombol {
        text-transform: uppercase;
        border-radius: 40px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }
}
